@media screen  {
    body{
        background: #7FE2F8;
    }

    #logoCadastro {
        width: 50%;
    position: absolute;
    height: 20%;
    left: 26%;
    top: 8%;
    font-family: "Mukta Vaani";
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 80px;
    text-align: center;
    color: #060606;
    }
#formularioLogin{
        position: absolute;
width: 20%;
height: auto;
left: 42%;
top: 45%;
color:#715ebd;
font-family: "Mukta Vaani";
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 30px;
    }
input{
    position: absolute;
    width: 100%;
    height: 16%;
    left: 0;
    top: auto;
    z-index: 4;
    border: 1px solid #7FE2F8;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    text-align: justify;
    line-height: 30px;
}
    #entrarBt:hover{
        opacity: 85%;
        color: black;
        border: 2px solid azure;
    }
    #entrarBt{
        position: absolute;
    width: 35%;
    height: 15%;
    left: 32%;
    top: 100%;
    background: #715ebd;
    border-radius: 30px;
    text-align: center;
    color: azure;
    border: 2px solid black;
    }
    #lemonp{
        position: absolute;
        margin-top:15px;
        z-index: 0;
        top: 75%;
        left: 18%;
    }
    #lemonp2{
        position: absolute;
        top: 20%;
        right:14%;
        z-index: 0;
    }
    #lemonp3{
        position: absolute;
        top: 10%;
        left: 6%;
        z-index: 0;
        top: 30%;
    }
    #lemonp4{
        right: 6%;
        position: absolute;
        top:80%;
        z-index: 0;
    }
}